{extend name="tpl/base" /}
{block name="nav"}
    {include file="auth_rule/nav" /}
{/block}
{block name="search"}{/block}
{block name="content"}
    <table class="table table-striped table-list table-no-bordered treetable" id="tableList" 
           data-toggle="table" 
           data-select-item-name="ids[]" 
           data-remove-url="{:url('delete')}" 
           data-status-url="{:url('setstatus')}" 
           data-sort-url="{:url('setsort')}">
        <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th class="w-50" data-field="sort">排序</th>
                <th class="w-50" data-field="id">ID</th>
                <th>规则名称 [ <a href="javascript:;" class="js-tt-expand">展开</a>/<a href="javascript:;" class="js-tt-collapse">收起</a> ]</th>
                <th class="w-300">规则路径</th>
                <th class="w-100">图标</th>
                <th class="w-50">菜单</th>
                <th class="w-50">状态</th>
                <th class="w-300">操作</th>
            </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
            <tr data-tt-id="{$v.id}" data-tt-parent-id="{$v.pid}">
                <td></td>
                <td><input class="form-control w-xs js-sort" type="text" name="sort[]" value="{$v.sort}" /></td>
                <td>{$v.id}</td>
                <td>{$v.title}</td>
                <td>{$v.name|raw}</td>
                <td><i class="{$v.icon}"></i></td>
                <td><a href="javascript:;" class="status js-status" data-field="is_menu" data-value="{$v.is_menu}"><i></i></a></td>
                <td><a href="javascript:;" class="status js-status" data-field="status" data-value="{$v.status}"><i></i></a></td>
                <td>
                    <a href="{:url('add',array('pid'=>$v['id']))}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> 添加下级</a>
                    <a href="{:url('edit',array('id'=>$v['id']))}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> 编辑</a>
                    <a href="javascript:;" class="btn btn-danger btn-xs js-remove"><i class="fa fa-trash"></i> 删除</a>
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>
{/block}
{block name="script"}{/block}