{extend name="tpl/base-edit" /}
{block name="content"}
    <table class="table table-bordered table-hover table-data" id="tableData">
        <tbody>
            <tr>
                <th>标题</th>
                <td><input class="form-control w-lg" type="text" name="data[title]" value="{$data.title}" /><span class="help-block">这是说明</span></td>
            </tr>
            <tr>
                <th>配置代码</th>
                <td><input class="form-control w-lg" type="text" name="data[config_name]" value="{$data.config_name}"/><span class="help-block">这是说明</span></td>
            </tr>
            <tr>
                <th>配置值</th>
                <td>
                    <textarea name="data[config_value]" class="form-control w-lg" rows="4">{$data.config_value}</textarea>
                </td>
            </tr>
            <tr>
                <th>描述</th>
                <td>
                    <textarea name="data[remark]" class="form-control w-lg" rows="4">{$data.remark}</textarea>
                </td>
            </tr>
            <tr>
                <th>状态</th>
                <td>
                    <label><input type="radio" name="data[status]" value="1" checked /> 显示</label>
                    <label><input type="radio" name="data[status]" value="0" {eq name="data.status" value="0"}checked{/eq} /> 隐藏</label>
                </td>
            </tr>
        </tbody>
    </table>
{/block}
{block name="script"}
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        $(function(){
            
        });
    </script>
{/block}