{extend name="tpl/base" /}
{block name="search"}{/block}
{block name="content"}
    <table class="table table-striped table-list table-no-bordered" id="tableList" 
           data-toggle="table" 
           data-select-item-name="ids[]" 
           data-remove-url="{:url('delete')}" 
           data-status-url="{:url('setstatus')}" 
           data-sort-url="{:url('setsort')}"
           >
        <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th class="w-50" data-field="sort">排序</th>
                <th class="w-50" data-field="id">ID</th>
                <th>分类名称 [中文]</th>
                <th>分类名称 [英文]</th>
                <th class="w-50">状态</th>
                <th class="w-150">操作</th>
            </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
            <tr>
                <td></td>
                <td><input class="form-control w-xs js-sort" type="text" name="sort[]" value="{$v.sort}" /></td>
                <td>{$v.id}</td>
                <td>{$v.cate_name_cn}</td>
                <td>{$v.cate_name_en}</td>
                <td><a href="javascript:;" class="status js-status" data-field="status" data-value="{$v.status}"><i></i></a></td>
                <td>
                    <a href="{:url('edit',array('id'=>$v['id']))}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> 编辑</a>
                    <a href="javascript:;" class="btn btn-danger btn-xs js-remove"><i class="fa fa-trash"></i> 删除</a>
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>
{/block}
{block name="script"}{/block}