<!DOCTYPE html>
<html>
    <head>
        <title>后台首页</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="__BOOTSTRAP__/css/bootstrap.min.css?v=3.3.7" rel="stylesheet" />
        <link href="__CSS__/font-awesome/css/font-awesome.min.css?v=4.7.0" rel="stylesheet" />
        <link href="__JS__/bootstrap-table/bootstrap-table.min.css?v=1.11.1" rel="stylesheet">
        <link href="__JS__/metisMenu/metisMenu.min.css" rel="stylesheet" />
        <link href="__JS__/webuploader/webuploader.css" rel="stylesheet" />
        <link href="__JS__/jqueryui/jquery-ui.min.css" rel="stylesheet" />
        <link href="__CSS__/animate.min.css" rel="stylesheet" />
        <link href="__CSS__/style.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="/static/common/plupload-2.3.6/js/plupload.full.min.js"></script>
        <script src="/static/common/qiniu-js-sdk/dist/qiniu.min.js"></script>
    </head>
    <body>