<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/underscore-min.js?v=1.8.3"></script>
<script src="__BOOTSTRAP__/js/bootstrap.min.js?v=3.3.7"></script>
<script src="__JS__/datepicker/WdatePicker.js?v=4.8"></script>
<script src="__JS__/metisMenu/metisMenu.min.js"></script>
<script src="__JS__/slimScroll/jquery.slimscroll.min.js"></script>
<script src="__JS__/bootstrap-table/bootstrap-table.min.js?v=1.11.1"></script>
<script src="__JS__/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?v=1.11.1"></script>
<script src="__JS__/treetable/jquery.treetable.js?v=3.2.0"></script>
<script src="__JS__/layer/layer.js?v=3.0.3"></script>
<script type="text/javascript" src="__JS__/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="__JS__/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.disableAutoInline = true;
</script>
<script src="__JS__/mytabs.js"></script>
<script src="__JS__/common.js"></script>