{extend name="tpl/base-edit" /}
{block name="content"}
    <table class="table table-bordered table-hover table-data" id="tableData">
        <tbody>
            <tr>
                <th>提交IP</th>
                <td>
                    <label>{$data.ip}</label>
                </td>
            </tr>
        </tbody>
    </table>
{/block}
{block name="script"}
    <script type="text/javascript">
        $(function(){
            initImageWebUploader("#wuPickImage");
        });
    </script>
{/block}