{extend name="tpl/base-edit" /}
{block name="content"}
    <table class="table table-bordered table-hover table-data" id="tableData">
        <tbody>
            <tr>
                <th>分类</th>
                <td>
                    <select name="data[category_id]" class="form-control w-md">
                        <option value="0">请选择</option>
                        {volist name="category_list" id="v"}
                            <option value="{$v.id}" {eq name="data.category_id" value="$v.id"}selected{/eq}>{$v.cate_name_cn}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            
            {volist name="lang_list" id="lang"}
            {php}$field="title_".$lang['lang_code'];{/php}
            <tr>
                <th>名称 [{$lang.title}]</th>
                <td><input class="form-control w-lg" type="text" name="data[{$field}]" value="{$data[$field]}" /></td>
            </tr>
            {/volist}
            
            <tr>
                <th>链接地址</th>
                <td><input class="form-control w-lg" type="text" name="data[link]" value="{$data[link]}" placeholder="http://" /></td>
            </tr>
            
            {volist name="lang_list" id="lang"}
            {php}$field="brief_".$lang['lang_code'];{/php}
            <tr>
                <th>描述 [{$lang.title}]</th>
                <td><textarea name="data[{$field}]" class="form-control w-lg" rows="4">{$data[$field]}</textarea></td>
            </tr>
            {/volist}
            
            <tr>
                <th>代表图片</th>
                <td>
                    <div>
                        <a href="javascript:;" data-server="{:url('uploadfile')}" data-path="partner" id="wuPickImage">选择图片</a>
                        <span class="help-block">格式：jpg，png，gif，jpeg；尺寸：-- x -- px</span>
                    </div>
                    <div id="imageDisplay">
                        <input type="hidden" name="data[image]" value="{$data.image}" class="js-file-input" />
                        <input type="hidden" name="asset_id[]" class="js-asset-input" />
                        {empty name="data.image"}
                        <img class="data-img js-img" data-default="__IMAGES__/thumbnail.png" src="__IMAGES__/thumbnail.png" />
                        {else/}
                        <img class="data-img js-img" data-default="__IMAGES__/thumbnail.png" src="{$data.image}" />
                        {/empty}
                        <a class="deletefile js-deletefile" href="javascript:;"><i class="fa fa-close"></i> 删除</a>
                    </div>
                </td>
            </tr>
            
            <tr>
                <th>排序</th>
                <td><input class="form-control w-md" type="text" name="data[sort]" value="{$data.sort}" /></td>
            </tr>
            <tr>
                <th>状态</th>
                <td>
                    <label><input type="radio" name="data[status]" value="1" checked /> 显示</label>
                    <label><input type="radio" name="data[status]" value="0" {eq name="data.status" value="0"}checked{/eq} /> 隐藏</label>
                </td>
            </tr>
        </tbody>
    </table>
{/block}
{block name="script"}
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        $(function(){
            initImageWebUploader("#wuPickImage");
        });
    </script>
{/block}