{extend name="tpl/base" /}
{block name="search"}
    <form class="well search-form form-inline" action="" method="get">
        <div class="form-group">
            分类：
            <select class="form-control" name="category_id">
                <option value="0">请选择</option>
                {volist name="category_list" id="v"}
                    <option value="{$v.id}" {eq name="opts.category_id" value="$v.id"}selected{/eq}>{$v.cate_name}</option>
                {/volist}
            </select>
        </div>
        <div class="form-group">
            日期：<input class="form-control w-sm js-date" type="text" name="start_date" value="{$opts.start_date|htmlspecialchars}" placeholder="开始时间" /> - <input class="form-control w-sm js-date" type="text" name="end_date" value="{$opts.end_date|htmlspecialchars}" placeholder="结束时间" />
        </div>
        <div class="form-group">
            时间：<input class="form-control js-datetime" id="datetime" type="text" name="" placeholder="YYYY-mm-dd hh:ii:ss">
        </div>
        <div class="form-group">
            关键词：<input class="form-control" type="text" name="kw"  value="{$opts.kw}" />
        </div>
        <button type="submit" class="btn btn-primary" id="searchBtn">查询</button>
    </form>
{/block}
{block name="content"}
    <table class="table table-striped table-list table-no-bordered" id="tableList" 
           data-toggle="table" 
           data-select-item-name="ids[]" 
           data-remove-url="{:url('delete')}" 
           data-status-url="{:url('setstatus')}" 
           data-sort-url="{:url('setsort')}"
           >
        <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th class="w-50" data-field="sort">排序</th>
                <th class="w-50" data-field="id">ID</th>
                <th>名称</th>
                <th class="w-300">备注</th>
                <th class="w-100">图标</th>
                <th class="w-50">状态</th>
                <th class="w-150">操作</th>
            </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
            <tr>
                <td></td>
                <td><input class="form-control w-xs js-sort" type="text" name="sort[]" value="{$v.sort}" /></td>
                <td>{$v.id}</td>
                <td>{$v.title}</td>
                <td>{$v.a_name}</td>
                <td><i class="{$v.icon}"></i></td>
                <td><a href="javascript:;" class="status js-status" data-field="status" data-value="{$v.status}"><i></i></a></td>
                <td>
                    <a href="{:url('edit',array('id'=>$v['id']))}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> 编辑</a>
                    <a href="javascript:;" class="btn btn-danger btn-xs js-remove"><i class="fa fa-trash"></i> 删除</a>
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>
{/block}
{block name="script"}{/block}